
<div class="col-lg-6">
    <div class="card text-white bg-secondary container" style="max-width: 35rem;">
      <div class="row align-items-center card-header px-2">
        <div class=" offset-2 col-8">
          <div class=" text-center text-primary">{{ operacion }} Producto</div>
        </div>
        <div class="col-2 text-end align-self-end">
          <span class="close-btn" (click)="close(false)">X</span>
        </div>
      </div>
      <div class="card-body">


        <form [formGroup]="form" (ngSubmit)="addEvent()" >
          <div>
            <label for="fomr1" class="form-label">Titulo:</label>
            <input formControlName="title" id="form1" type="text" class="form-control" placeholder="Ingrese titulo">
            <span *ngIf="form.get('title')?.hasError('required') && (form.get('title')?.touched  || enviar)" class="text-primary ">
                El campo title es <strong>requerido</strong>
            </span>
          </div>
            <div>
            <label for="form2" class="form-label mt-2">Fecha del evento:</label>
            <input formControlName="start" id="form2" type="date" class="form-control" placeholder="Ingrese fecha del inicio del evento">
            <span *ngIf="form.get('start')?.invalid && (form.get('start')?.touched || enviar)" class="text-primary ">
                El campo fecha es <strong>requerido</strong> 
            </span>
          </div>
            <div>
                <label for="exampleSelect1" class="form-label mt-2">Elige el color del Evento</label>
                <select class="form-select" id="exampleSelect1" formControlName="backgroundColor">
                    <option value="" disabled selected>Selecciona un color</option>
                    <option value="red">Rojo</option>
                    <option value="green">Verde</option>
                    <option value="blue">Azul</option>
                    <option value="orange">Naranja</option>
                </select>
                <span *ngIf="form.get('backgroundColor')?.hasError('required') && (form.get('backgroundColor')?.touched || enviar)" class="text-primary">
                    El campo color es <strong>requerido</strong>
                </span>
              </div>
            <div class="row mt-2 text-center">
                <div class="col-lg-6">
                  @if (eliminar==true) {
                    <button class="btn btn-danger mt-2" (click)="deleteEvent()">Eliminar</button>
                  }
                </div>
                <div class="col-lg-6 ">
                    <button  type="submit" class="btn btn-primary mt-2" >Aceptar</button>
                </div>
            </div> 
        </form>

</div>
</div>