<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid d-flex gap-2">
      <a class="navbar-brand" href="#">CRUD Productos</a>
      <button routerLink="/maps"  type="button" class="btn btn-light">Maps</button>
      <button routerLink="/calendar" type="button" class="btn btn-light">Calendar</button>
      <button routerLink="/grafics" type="button" class="btn btn-light">Grafics</button>

      <div class="collapse navbar-collapse" id="navbarColor01">
      </div>
    </div>
  </nav>
